<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Pan</display-name>

	<servlet>
		<servlet-name>nervservlet</servlet-name>
		<servlet-class>com.pan.base.BaseServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>nervservlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.pan.base.LoadServletListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>/resource/page/login.jsp</welcome-file>
	</welcome-file-list>
</web-app>